/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}

:root {
    --main-font: 'Bebas Neue';
    --second-font: 'Alfa Slab One';
    --third-font: 'Montserrat';
}

/* body {
    overflow-x: hidden;
} */

/* Common CSS */
.mt {
    margin-top: 30px;
}

.d-flex {
    display: flex;
}

.mla {
    margin-left: auto;
}

.posi-re {
    position: relative;
}

.posi-ab {
    position: absolute;
}

.container-fluid {
    width: 100%;
    padding: 15px 15px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 5px; 
}

.col {
    padding: 15px 25px;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.text-centre {
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}

/* Hero Section */
.header {
    background: url(../images/hero_bg.png);
    background-size: cover; width: 100%;
    height: 825px;
}

.hero-logo {
    align-self: center;
}

.contact ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.contact li {
    display: flex;
    align-items: center;
    margin: 10px 0px 0p 9px;
}

.contact li a {
    font-size: 18px;
    color: #3d2514;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.phone-icon-box {
    display: inline-block;
    width: 41px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.phone-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vect-phone {
    display: flex;
    align-items: center;
}

.phone-icon-box a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-menu .nav-item {
    display: inline;
    font-family: var(--main-font);
}

.nav-menu .nav-item a {
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 500;
}
.vect-phone:hover,
.nav-menu .nav-item a:hover {
    color: rgb(122, 122, 122);
}
.menu-toggle {
    display: none;
}

.toggle-btn {
    display: none;
}

.toggle-btn .hamburger {
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    position: relative;
    transition: all 0.3s ease;
}

.toggle-btn .hamburger::before,
.toggle-btn .hamburger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}

.toggle-btn .hamburger::before {
    top: -6px;
}

.toggle-btn .hamburger::after {
    top: 6px;
}

.menu-toggle:checked+.toggle-btn .hamburger {
    background-color: transparent;
}

.menu-toggle:checked+.toggle-btn .hamburger::before {
    transform: rotate(45deg);
    top: 0;
}

.menu-toggle:checked+.toggle-btn .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
}




.head__text {
    margin-top: 10em;
}

.small-head {width: 412px;
    text-align: center;
    margin-left: 20px;
    padding: 10px;
    margin-left: 30px;
    font-size: 24px;
    text-transform: uppercase;
    color: #3d2514;
    border: 2px dashed black;
    font-family: var(--main-font);
}

.title {
    margin-top: 15px;
    line-height: 1.2;
}

.head {
    font-size: 90px;
    display: inline-block;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
    font-family: var(--second-font);
}

.sub-title {
    font-size: 45px;
    text-transform: uppercase;
    display: inline-block;
    color: #3d2514;
    font-weight: 400;
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
    font-family: var(--second-font);
}

.offer-price {
    padding-top: 16px;
    font-size: 60px;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    width: 151px;
    height: 151px;
    border-radius: 75px;
    background-color: #bf2222;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 4;
    left: 532px;
    top: 94px;
}

.offer-price::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    border: 2px dashed #ffffff;
}

.cents {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline;
    font-family: var(--main-font);
}

.prc-onl {
    margin-top: -49px;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    font-family: var(--main-font);
}

.head-imgs {
    z-index: 0;
    top: -15rem;
    left: -20.99rem;

}

.price-tag {
    z-index: 0;
    top: 48.13rem;
    left: 28.5rem;
}

.burger-img {
    z-index: -1;
    top: 36.88rem;
    left: 65.38rem;
}

.burg-shadow {
    z-index: -3;
    top: 60.06rem;
    left: 62.25rem;
}

.burg-glow {
    pointer-events: none;
    z-index: -4;
    top: 3.31rem;
    left: 41.25rem;
}

.drink-img {
    z-index: -2;
    top: 27.94rem;
    left: 86.13rem;
}

.drink-shadow {
    z-index: -3;
    top: 57.31rem;
    left: 81.13rem;
}

.fries-img {
    z-index: -2;
    top: 33.88rem;
    left: 53.94rem;
}

/*hero section end */
/* main section start */
/* section-1 start */
.main__sec1 {
  
    margin: 50px -15xp 0px -15px ;
}

.sec1__row1 {
    margin: 0 30px;
}

.sec1__img1-bg {
    background: url(../images/mainsec1img1.png);
    height: 420px;
    width: 550px;
    object-fit: cover;
}

/* commen css start*/

.sec1__sub-head {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--main-font)
}

.sec1__head {
    padding-left: 20px;
    line-height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--main-font)
}

/* commen css end*/


.sec1__img2-bg {
    background: url(../images/mainsec1img2.png);
    height: 187px;
    width: 592px;
    object-fit: cover;
}

.sec1__img3-bg {
    margin-top: 10px;
    background: url(../images/mainsec1img3.png);
    height: 187px;
    width: 592px;
    object-fit: cover;
}

.tst-bur-btn {
    font-size: 25px;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: #3d2514;
    display: inline-block;
    font-weight: 400;
    margin-right: auto;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    width: 218px;
    height: 48px;
    background-color: #ffc045;
}

/* section-1 end */
/* section-2 start */
.main__sec2__head {
    font-size: 50px;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;

}

.main__sec2__subtitle {
    line-height: 1.4;
    width: 895px;
    font-size: 17px;
    font-family: var(--third-font);
    color: #3d2514;
    font-weight: 400;
    text-align: center;
}

.last-base {
    align-items: last baseline;
    text-align: center;
}

.main__sec2__burg-head {
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: var(--main-font);
}

.main__sec2__burg-disc {
    height: 51px;
    font-size: 14px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
    font-family: var(--third-font);
}

.main__sec2__burger1shadow1 {
    width: 340.33px;
    margin-top: -10px;
    margin-left: 40px;

}

.main__sec2__burger3shadow3 {
    width: 350.33px;
    margin-top: -10px;

}

.main__sec2__burger2shadow2 {
    width: 340.33px;
    margin-top: -10px;
    margin-right: 40px;
}

.main__sec2-burg3 {
    transform: scaleX(-1);
}

.main__sec2__burg-btn {
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    width: 195px;
    height: 45px;
    background-color: #bf2222;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: var(--second-font);
    border-radius: 6px;
}

.main__sec2__burg-btn:hover {
    background-color: #b71c1c;
}

/* section-2 end */
/* section-3 start */
.main__sec3 {
    margin-top: 70px
}

.main__sec3__box {
    margin: 0 20px;
    filter: drop-shadow(18.656px 24.758px 21.5px rgba(0, 0, 0, 0.17));
    background-color: #ffffff;
    align-items: center;

}

.main__sec3__title {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 200;
    font-family: var(--main-font);
}

.main__sec3__head {
    margin-top: 2px;
    font-size: 39px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 300;
    font-family: var(--second-font);
}

.main__sec3__ptxt {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.2;
    color: #3d3d3d;
    font-weight: 400;
    font-family: var(--third-font);
}

.main__sec3__img {
    margin: 10px;
    width: 550px;
    object-fit: cover;
}

.main__sec4 {
    margin-top: 100px;
}

.reservation-form h1 {
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 200;
    font-family: var(--main-font);
}

.reservation-form h2 {
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 300;
    font-family: var(--second-font)
}

.form-grid {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    gap: 20px;
}

.form-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: var(--main-font);
    color: #3d3d3d;
    font-weight: 400;
}

.form-button {
    display: inline-block;
    text-align: center;
    background-color: #d32f2f;
    width: 254.43px;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    color: #ffffff;
    font-family: var(--second-font);
}

.form-button:hover {
    background-color: #b71c1c;
}

.main__sec4__bug {
    top: -30.8125rem;
    left: -4.0625rem;
}

.main__sec4__bottle {
    height: 22.5rem;
    object-fit: cover;
    top: -17.5rem;
    left: 9.375rem;
}

.main__sec4__dish {
    width: 450px;
    object-fit: cover;
    top: -16.3125rem;
    left: 61.625rem;
    pointer-events: none;
}

/* section-4 end */
/* main section end */
/* footer section start */
.foot__sec1 {
    margin: 100px 35px 35px;

}

.footer-bg {
    background: url(../images/footerbg.png);
    object-fit: cover;
}

.foot__cols {
    width: 50%
}

.foot__disc {
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    font-family: var(--third-font);

}

.copyright {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #ededed;
    font-family: var(--main-font)
}

.icon-cont {
    margin: 5px
}

.icon-list {
    display: flex;
    align-items: last baseline;
    list-style: none;
}


.icon-list li i {
    color: white;
}

.icon-list li a {
    font-size: 18px;
    color: #ffffff;
    font-family: var(--main-font);
    text-decoration: none;
    letter-spacing: 0.3px;
}

.location {
    margin-left: 2px;
    margin-right: 9px;
}

.mail {
    margin-right: 7px;
}

.icon-me {
    font-size: 30px;
}

.social__icon {
    display: flex;
    list-style: none;
    padding: 1px;
    color: white;
}

.social__icon li i {
    letter-spacing: 4px;
    color: white;
}


/* Medium devices */
@media (min-width: 768px) and (max-width: 881px) {
/* 
    .row{
    
        
    }
    .col{
      
    } */
}

/* Extra large devices */
@media (min-width: 1200px) {
    body{
        overflow-x: hidden;
    }
}

/* Large devices */
@media (min-width: 882px) and (max-width: 1199px) {

        .toggle-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 2.5rem;
            right: 2rem;
            height: 40px;
            width: 40px;
            color: white;
            font-size: 1.2rem;
            border: none;
            cursor: pointer;
            z-index: 5;
            transition: all 0.3s ease;
        }
    
        .toggle-btn:hover {
            color: #8d8d8d;
        }
    
        .toggle-btn:focus {
            outline: 2px solid #00aaff;
        }
    
        .nav-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 0;
            width: 25%;
            box-shadow: 0 0 2px 0;
            background: inherit;
            backdrop-filter: blur(10px);
            padding: 1rem 0;
            text-align: left;
            border-radius: 8px 0 0 8px;
    
        }
    
        .menu-toggle:checked~.nav-menu {
            display: flex;
        }
    
        .nav-item {
            margin: 0.5rem 1rem;
        }
    
        .dropdown {
            position: static;
            display: none;
        }
    
        .menu-toggle:checked~.nav-menu .dropdown {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
        }
        .head-imgs {
            z-index: 0;
            top: -15rem;
            left: -24.99rem;
            transform: none;
            width: 10px;
        
        }
        .contact{
            margin-right: 30px;
        }
        .fries-img {
            z-index: -2;
            top: 33.88rem;
            left: 53.94rem;
        }

/* Small devices */
@media (min-width: 576px) and (max-width: 767px) {

    /* .row{
       
        
    }
    .col{
        

    } */

}
/* @media (max-width: 575px) {

    /* .row{
      
        
    }
    .col{
      
    } */

} 
